@tailwind base;
@tailwind components;
@tailwind utilities;

.primary{
    background: #1D2254
}
.dash-border {
    border-width: 2px; /* Adjust the border thickness as needed */
    border-image-source: url('/assets/puple-border.svg'); /* URL to your dash image */
    border-image-slice: 1; /* Adjust this to control how the image is sliced */
    border-image-repeat: round; /* Repeat the dash pattern around the border */
    border-radius: 30px; 
}
.box {
    @apply bg-white p-[20px] rounded-md;
  }

@media (min-width: 640px) {
.detail-value {
    font-size: 16px;
}
.detail-key{
    font-size: 12px;
}
}

@media (min-width: 1025px) {
    .detail-value {
        font-size: 16px;
    }
    .detail-key{
        font-size: 12px;
    }
    }

.box-header {
    @apply font-bold text-[18px];
}

.box-text {
    @apply text-gray-900 font-normal text-[16px] h-auto;
}

.quote{
    @apply text-[18px] font-medium;
}

.box-list-item {
    @apply before:content-['•'] before:text-purple-700 before:mr-2 before:text-[32px];
}

.box-brand {
    @apply h-[50px];
}
.box-brand-grow {
    @apply h-[40px] flex-grow;
}

.box-payment {
    @apply h-[50px];
}

.box-payment-grow {
    @apply h-[50px] flex-grow;
}